:root {
    --brown: #50342b;
    --pink-50: #EE917B;
    --pink-100: #EB6F55;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
    outline: none;
    text-decoration: none;
}


@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--pink-50);
    border-radius: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  } 

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle, #e5e5e598 10%, transparent 11%);
    background-size: 3em 3em;
    background-color: #fff;
}

section {
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    width: 100%;
}

.header a:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.719);
}

.header a:nth-child(2) {
    color: #fff;
    background-color: rgb(24, 95, 248);
    padding: 0.5rem;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

/* Pagina inicial */

.home-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 115px;
}

.pink {
    color: var(--pink-50);
}

.text-side {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-top: 220px;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 3.8rem;
    text-align: center;
    line-height: 1;
}

.text h4 {
    font-weight: lighter;
}

.links {
    margin-top: 50px;
    display: flex;
}

.btn a {
    background-color: var(--pink-100);
    border-radius: 5px;
    width: 150px;
    padding: .7rem;
    text-align: center;
    margin-inline: 18px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.267);
    transition: 500ms;
}

.btn a:hover {
    transform: scale(1.05);
}


.image-side {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.image-side img {
    max-width: 400px;
    transform: scaleX(-1);
    cursor: pointer;
}

.howto-container, .rules-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.rules-container {
    padding: 2rem;
}

.title-and-description {
    margin-bottom: 30px;
    text-align: center;
}

.title-and-description h1 {
    font-size: 6rem;
}

.title-and-description p {
    font-size: 1.5rem;
}

.box {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding: 2rem;
    background: var(--brown);
    color: #fff;
}

.video-side {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.video-side h2 {
    margin-bottom: 1rem;
}

.download-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 1rem;
}

.require-list ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.require-list li {
    font-size: 1.2rem; 
}

.require-list h3 {
    font-size: 1.5;
    font-weight: lighter; 
}

iframe {
    border-radius: 5px;
    border: 2px solid #fff;
    width: 500px;
    height: 315px;
}

.box ul {
    padding: 1rem;
}

.arrow a {
    font-size: 8rem;
    color: black;
    animation: moveUpDown 2s infinite ; 
}

.w-fit {
    width: fit-content;
    padding: 2rem;
}

.img {
    padding: 1rem;
}

.footer {
    width: 100%;
    background-color: var(--brown);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creators {
    padding: 1rem;
    text-align: justify;
}

.muddy-pig-2 {
    width: 180px;
}

.muddy-pig-4 {
    max-width: 250px
}


@media screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .image-side {
        margin-top: 0;
    }
    
    .image-side img {
        width: 300px;
        transform: scaleX(-1);
        cursor: pointer;
    }

    .text-side {
        margin-top: 0;
    }
}

